html *
{
	font-family: "Arial", Helvetica, sans-serif !important;
}

p {
  font-size:16px;
  word-wrap: break-word;
}

figure {
	padding: 2px;
	max-width : 95%;
}

figcaption {
	word-wrap: break-word;
	max-width : 100%;
  font-size:16px;
}

img {
	max-width : 100%;
}


object {
  max-width : 100%; 
}

math {
  max-width : 100%;
}

.math {
    display:none; 
}

.mathImpaired {
  	max-width : 100%;
  	display:initial;
}


table {
  font-size:16px;
}

.transparent {
  display: none;
  color: transparent;
}

.toRemove {
  display: none; 
}

body {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.imageImpaired {
	max-width : 100%;
	display:initial;
}

.imageOthers {	
  display:none; 
}
	