<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.11.0" targetFramework="net46" />
  <package id="Geckofx45" version="45.0.1.0" targetFramework="net46" />
  <package id="GlobalHotKey" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.Xml.SgmlReader" version="1.8.14" targetFramework="net452" />
  <package id="WpfMath" version="0.5.0" targetFramework="net46" />
</packages>